<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= typeof title == 'undefined' ? 'Expenses Reporter' : title %></title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/CSS/styles.css">

</head>
<body>

    <div class="container-xx1 px-md-5 bg-white shadow-lg">

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-1 mb-2 mb-md-0 text-dark text-decoration-none">
              <img src="https://direct-upload-s3-bucket-node.s3.ap-south-1.amazonaws.com/logo.png" width="90" height="40" alt="Spendee Logo">
            </a>
        
            <% if (user) { %>

              <% if (user.role== 'Admin') { %>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/adminManagement" class="nav-link px-2 text-black">✔️ Categories</a></li>
                </ul>

              <% } else { %>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                  <li><a href="/submitExpense" class="nav-link px-2 text-black">➕Expense</a></li>
                  <li><a href="/charts" class="nav-link px-2 text-black">Charts</a></li>
                </ul>

        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="POST" action="/search">
                  <input type="search" name="searchTerm" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>

                <% } %>
        
                  <div class="text-end">
                    <a href="/signoutUser" class="btn btn-outline-dark me-2">SignOut</a>
                </div>
                <% } else { %>
                  <div class="text-end">
                    <a href="/signinUser" class="btn btn-outline-dark me-2">SignIn</a>
                    <a href="/signupUser" class="btn btn-warning btn-outline-dark">Signup</a>
                  </div>
                <% } %>
          </header>

        <main>
        <%-body -%>
        </main>

        <footer class="py-1">
        </footer>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/js/script.js"></script>
    
</body>
</html>