<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="https://direct-upload-s3-bucket-node.s3.ap-south-1.amazonaws.com/all.jpeg"width="607" height="510" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Expenditure Calculator">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Manage Categories</h1>
        <p class="lead">
            Breaking down expenses into well-thought-out categories.
        </p>
        <div class="d-grid gap-2 d-md-flex py-4 justify-content-md-start">
            <a href="/submitCategory" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Add Category</a>
            <a href="/categories" class="btn btn-outline-secondary btn-lg px-4 me-md-2">View Category</a>
        </div>
    </div>
</div>