<h2>Categories</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categoric Expenses</li>
    </ol>
</nav>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
    <% if(typeof categories !== 'undefined' && categories.length > 0) { %>
      <% categories.forEach(function(category, index) { %>
        <a href="/categories/<%- category.name %>" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="<%- category.image %>" alt="<%- category.name %>" width="150" height="150" loading="lazy">
          </div>
          <div class="pt-1"><%- category.name %></div>
        </a>
      <% }) %>
    <% } %>
  </div>
  
  
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(typeof categoryById !== 'undefined') { %>
      <% if(categoryById.length > 0) { %>
        <% categoryById.forEach(function(expense, index){ %>
        <a href="/expense/<%= expense._id %>" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <img src="<%= expense.image %>" alt="<%= expense.name %>" width="150" height="150" loading="lazy">
          </div>
          <div class="pt-1"><%= expense.name %></div>
          <div><%= expense.amount %></div>
        </a>
        <% }) %>
      <% } else { %>
        <p>No expenses found.</p>
      <% } %>
    <% } %>
  </div>
  