<div class="row flex-lg-row-reverse align-items-center g-5 py-2 mb-4">
    <div class="col-12 col-lg-8">
        <img src="https://direct-upload-s3-bucket-node.s3.ap-south-1.amazonaws.com/charts.jpeg"width="500" height="450" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Expenditure Calculator">
    </div>
    <div class="col-12 col-lg-4">
        <h1 class="display-5 fw-bold mb-3">Your Expenses</h1>
        <p class="lead">
            One report to give a clear view on your spending patterns.
        </p>
    </div>
</div>

<% if(dataPresent) {%>
<div class="w-75 px-5 py-3">
<h2>Your Expenses - Pie Chart</h2>
  <canvas id="pieChart"></canvas>
  <!-- Start Js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    let ctx_pie = document.querySelector('#pieChart').getContext('2d');
    let labels_pie = ('<%-categoryNames%>').split(',');
    let colorHex_pie = ['#FF3399', '#FFD133', '#00FF00', '#33CAFF', '#A533FF'];
    let data_pie = ('<%-categoryData%>').split(',');

    let pieChart = new Chart(ctx_pie, {
        type: 'pie',
        data: {
            datasets: [{
            data: data_pie,
            backgroundColor: colorHex_pie
            }],
            labels: labels_pie
        },
        options: {
            responsive: true,
            legend: {
            position: 'left',
            labels: {
                fontSize: 20,
                padding: 30
                }
            },
            plugins: {
            datalabels: {
                color: '#fff',
                align: 'start',
                offset: -10,
                borderColor: '#fff',
                backgroundColor: (context) => {
                return context.dataset.backgroundColor;
                },
                font: {
                weight: 'bold',
                size: '5'
                },
                formatter: (value) => {
                return value + ' %';
                }
            }
            }
        }
    });

  </script>
</div>

<div class="w-75 px-5 py-3">
    <h2>Monthly Expenses - Bar Chart</h2>
      <canvas id="barChart"></canvas>
      <!-- Start Js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
      <script>
        let ctx_bar = document.querySelector('#barChart').getContext('2d');
        let labels_bar = ('<%-monthYearNames%>').split(',');
        let data_bar = ('<%-monthYearData%>').split(',');
    
        let barChart = new Chart(ctx_bar, {
            type: 'bar',
            data: {
                datasets: [{
                data: data_bar,
                backgroundColor: '#FF5100'
                }],
                labels: labels_bar
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                },
                legend: {
                    display: false
                },
                plugins: {
                datalabels: {
                    color: '#fff',
                    align: 'start',
                    offset: -10,
                    borderColor: '#fff',
                    backgroundColor: (context) => {
                    return context.dataset.backgroundColor;
                    },
                    font: {
                    weight: 'bold',
                    size: '5'
                    },
                    formatter: (value) => {
                    return value + ' %';
                    }
                }
                }
            }
        });
    
      </script>
      </div>
<% } else { %>
    <p>No expenses found.</p>
<% } %>