<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-8">
        <img src="https://direct-upload-s3-bucket-node.s3.ap-south-1.amazonaws.com/calendar.png"width="450" height="450" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Expenditure Calculator">
    </div>
    <div class="col-12 col-lg-4">
        <h1 class="display-5 fw-bold mb-3"><%- mainHeading %></h1>
        <p class="lead">
            <%- descriptionPara %>
        </p>
    </div>
</div>
  
<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  
      <% if(expenditure != '') { %>
        <% expenditure.forEach(function(expense, index){ %>
        <a href="/expense/<%= expense._id %>" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <img src="<%= expense.image %>" width="150" height="150" alt="<%= expense.name %>" loading="lazy">
          </div>
          <div class="pt-1"><%= expense.name %></div>
          <div class="pt-1"><%= expense.amount %></div>
        </a>
        <% }) %>
      <% } else { %>
        <p>No expenses found.</p>
      <% } %>
</div>