<% if(errorMsg != ''){ %>
  <div class="col-8 alert alert-danger" role="alert">
    <%=errorMsg%>
  </div>
<% } %>

<form action="/<%=action%>" method="POST">
  <h2><%- entryType %></h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button><%- entryType %></button>
</form>