<% if(expense != null) {%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Expenses</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-md-4">
      <img src="<%- expense.image %>" class="img-fluid sticky-top" style="top: 20px;" alt="<%- expense.name %>" loading="lazy">
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12"><h1><%- expense.name %></h1></div>
        <div class="col-12 mb-4"><i class="bi bi-tag"></i> <%- expense.category %></div>
        <div class="col-12" style="white-space: pre-line;">
          <% if(expense.description != '') { %>
          <h6>Expense Description</h6>
          <p><%- expense.description %></p>
          <%}%>
          <p>Date
          <h6><%- expense.date.toDateString() %></h6></p>    
          <p>Expense To
          <h6><%- expense.to %></h6></p>
          <p>Expense Amount<h5><%- expense.amount %></h5></p>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <p>No expenses found.</p>


<% } %>