<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="https://direct-upload-s3-bucket-node.s3.ap-south-1.amazonaws.com/top-image.jpg"width="607" height="510" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Expenditure Calculator">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Track Expenses</h1>
        <p class="lead">
            Stop wasting time with paper forms and worrying about losing receipts. Keep the whole picture in one place.
        </p>
        <div class="d-grid gap-2 d-md-flex py-4 justify-content-md-start">
            <a href="/recent-expenses" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Recent Expenses</a>
            <a href="/high-expenses" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Huge Expenses</a>
        </div>
    </div>
</div>
<!-- Categories Start -->


<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">


    <% if(categories != '') { %>
      <% categories.forEach(function(category, index) { %>
        <a href="/categories/<%- category.name %>" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="<%- category.image %>" alt="<%- category.name %>" width="170" height="170" loading="lazy">
          </div>
          <div class="pt-1"><%- category.name %></div>
        </a>
      <% }) %>
    <% } %>
  
    <a href="/categories" class="col text-center category__link">
      <div class="category__img shadow">
        <img src="https://direct-upload-s3-bucket-node.s3.ap-south-1.amazonaws.com/all-cat.jpg" alt="View All Categories" width="170" height="170" loading="lazy">
      </div>
      <div class="pt-1">View All</div>
    </a>
  
  </div>
  <!-- Categories End -->

<% if(categories != '') { %>
  <% categories.forEach(function(category, index) { %>
    <section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
      <h2><%- category.name %> Expenses</h2>
      <a href="/categories/<%- category.name %>"class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <% if(expenditure[index].length > 0) { %>
        <% expenditure[index].forEach(function(expense){ %>
          <a href="/expense/<%= expense._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="<%= expense.image %>" alt="<%= expense.name %>" width="150" height="150" loading="lazy">
            </div>
            <div class="pt-1"><%= expense.name %></div>
            <div class="pt-1"><%= expense.amount %></div>
          </a>
        <% }) %>
      <% } else { %>
          <p>No expenses found.</p>
      <% } %>
    </div>
  </section>
  <% }) %>
<% } %>