<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search Expenses</li>
    </ol>
</nav>

<h2 class="pb-4">Search Results</h2>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
  
    <% if(expenditure != '') { %>
      <% expenditure.forEach(function(expense, index){ %>
      <a href="/expense/<%= expense._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="<%= expense.image %>" width="150" height="150" alt="<%= expense.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= expense.amount %></div>
        <div class="pt-1"><%= expense.name %></div>
        <div class="pt-1"><p style="color: grey;"><%= expense.description %></p></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No expenses found.</p>
    <% } %>
</div>