<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Your Expense</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">It takes seconds to record daily transactions. Put them into clear and visualized categories.</p>
    </div>
  </div>
  <% if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoSubmitObj %>
    </div>
  <% } %>

  <% if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0].message %>
    </div>
  <% } %>
  
  <div class="row justify-content-center">
  
    <div class="col-8">
  
      <form id="submitExpenseForm" action="/submitExpense" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="name" class="form-label">Expense Name<span style="color:red">*</span></label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="3"></textarea>
          </div>

          <div class="col-12">
            <label for="date" class="form-label">Date<span style="color:red">*</span></label>
            <input type="date" name="date" id="date" class="form-control" required>
          </div>

          <div class="col-12">
            <label for="to" class="form-label">To<span style="color:red">*</span></label>
            <input type="text" name="to" id="to" class="form-control" required>
          </div>
  
          <div class="col-12">
            <label for="category">Select Category<span style="color:red">*</span></label>
            <select class="form-select form-control" name="category" aria-label="Category" required>
              <option selected="true" disabled="true" hidden="true">Select Category</option>
              <% categories.forEach(function(category, index) { %>
              <option value=<%- category.name %>><%- category.name %></option>
              <% }) %>
            </select>
          </div>

          <div class="col-12">
            <label for="amount" class="form-label">Amount<span style="color:red">*</span></label>
            <input type="number" name="amount" id="amount" class="form-control" required>
          </div>
  
          <div class="col-12">
            <label for="image">Image<span style="color:red">*</span></label>
            <input id="imageInput" type="file" class="form-control" name="image" accept="image/*" required>
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Expense</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>