<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit Category</h1>
  </div>
  <% if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoSubmitObj %>
    </div>
  <% } %>

  <% if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0].message %>
    </div>
  <% } %>
  
  <div class="row justify-content-center">
  
    <div class="col-8">
  
      <form id="submitCategoryForm" action="/submitCategory" enctype="multipart/form-data" method="POST">
      
        <div class="row g-3">
  
          <div class="col-12">
            <label for="name" class="form-label">Category Name<span style="color:red">*</span></label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="image">Category Image<span style="color:red">*</span></label>
            <input id="imageInput" type="file" class="form-control" name="image" accept="image/*" required>
          </div>
  
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit Category</button>
          </div>
  
        </div>
      
      </form>
  
    </div>
  </div>