h1,h2 {
    font-family: 'Tapestry', cursive;
}
a {
    text-decoration: none;
    color: black;
}

form h2{
    font-size: 2.4em;
    font-weight: 900;
    margin-bottom: 40px;
  }
  form{
    width: 360px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: white;
  }
  input{
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
  }
  .error{
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
  }